@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  color: black;
  font-family: "DM Sans", sans-serif;
}
body {
  background-color: rgb(241, 241, 241);
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  all: unset;
}

ul,
ol,
li {
  list-style-type: none;
  list-style-position: inside;
}

nav {
  padding: 27px 12px;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-direction: row;
  max-width: 1400px;
  justify-content: space-between;
  margin: auto;
}

nav h1 {
  font-size: 24px;
}

nav a {
  cursor: pointer;
  transition: color 0.3s ease;
}

nav a:hover {
  color: gray;
}

.nav_left {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  gap: 24px;
}

.nav_right {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  font-size: 16px;
  gap: 24px;
  color: white;
}

.main-article img {
  max-height: 500px;
}

.main-article {
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.release {
  margin: 15px 0;
  color: gray;
}

.main-article div {
  max-width: 50%;
}

.main-article h1 {
  font-size: 40px;
  font-weight: 700;
}

.main-article p {
  font-size: 18px;
}

.rating {
  padding: 15px;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}

.rating p {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}

.seasons-container {
  width: 1400px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.additional-container {
  display: inline-block;
  justify-content: center;
  gap: 30px;
}

.season {
  margin-right: 10px;
  display: inline-block;
}

.episodes-container {
  background: black;
  color: white;
  border-radius: 6px;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 13px;
}

.episodes {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: white;
}

.episodes h1 {
  font-size: 14px;
  color: white;
  padding: 10px 30px;
}

.watchedButton {
  margin: 0;
}

button {
  width: 100%;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 6px;
  border: 2px solid black;
  color: white;
  background-color: #000000;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #252525;
}

button[data-action="remove"] {
  font-size: 14px;
  font-weight: 700;
  padding: 10px 16px;
  border-radius: 6px;
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: #000000;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

button[data-action="remove"]:hover {
  background-color: #c9c9c9;
}

button[data-action="add"] {
  font-size: 14px;
  font-weight: 700;
  padding: 10px 28px;
  border-radius: 6px;
  border: 2px solid #000000;
  color: #000000;
  background-color: #ffffff;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

button[data-action="add"]:hover {
  background-color: #252525;
}

main {
  display: flex !important;
  align-items: center;
  min-height: calc(100vh - 160px);
  max-width: 1400px;
  margin: auto auto 60px auto;
  flex-grow: 1;
}

@media (max-width: 768px) {
  main {
    padding: 0 12px;
    margin-top: 0;
    margin-bottom: 30px;
  }
  nav {
    padding: 27px 12px;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center; /* Change align-items to flex-start */
    flex-direction: column; /* Change flex-direction to column */
    max-width: 1400px;
    justify-content: space-between;
  }
  .seasons-container {
    width: 1400px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .season {
    margin-right: 10px;
    display: block; /* Change display to block */
    margin-bottom: 10px; /* Add margin-bottom */
  }
  .nav_left {
    font-size: 24px;
    margin-bottom: 30px;
  }

  button {
    width: calc(100vw - 64px);
  }

  .stats {
    justify-content: center;
    align-items: center;
  }

  .banner {
    margin-top: 70px;
    height: auto;
    padding: 20px;
    text-align: center;
  }

  .banner-content {
    max-width: 100%;
  }

  .banner-content h1 {
    font-size: 36px;
  }

  .banner-content p {
    font-size: 12px;
  }

  .banner-content button {
    font-size: 12px;
  }

  .main-article {
    margin-top: 30px;
    align-items: start;
    flex-direction: column;
    width: calc(100vw - 12px);
  }

  .main-article div {
    max-width: 95%;
  }

  #detailsTitle {
    font-size: 24px;
    margin-top: 15px;
  }

  .main-article p {
    font-size: 14px;
  }

  .release {
    font-size: 12px;
  }

  .rating {
    margin: 15px 0;
    padding: 0;
    gap: 10px;
    display: flex;
  }

  .rating p {
    justify-content: center;
    align-items: center;
    display: flex;
  }
}
