@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  font-family: "DM Sans", sans-serif;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  all: unset;
}

ul,
ol,
li {
  list-style-type: none;
  list-style-position: inside;
}

button a:hover {
  color: white;
}

nav {
  padding-top: 15px;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-direction: row;
  max-width: 1400px;
  justify-content: space-between;
  margin: auto;
}

nav h1 {
  font-size: 24px;
}

nav a {
  cursor: pointer;
  transition: color 0.3s ease;
}

nav a:hover {
  color: gray;
}

.nav_left {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  gap: 24px;
}

.nav_right {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  font-size: 16px;
  gap: 24px;
  color: white;
  text-underline: none;
}

.banner-image {
  padding: 12px;
  width: 100%;
  min-height: 600px;
  background-image: url("../image/banner.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  margin: auto;
}

@media (max-width: 1512px) {
  .banner-image {
    background-size: cover;
    background-attachment: scroll;
  }
}

.banner {
  margin: auto;
  max-width: 1400px;
  height: 535px;
  color: white;
  display: flex;
  align-items: center;
}

.banner-content {
  flex-direction: column;
  display: flex;
  gap: 16px;
  max-width: 400px;
}

.banner-content h1 {
  font-size: 48px;
  font-weight: 700;
}

.banner-content p {
  font-size: 14px;
}

.banner-content button {
  font-size: 14px;
  font-weight: 700;
  padding: 10px 16px;
  border-radius: 6px;
  border: 0;
  color: white;
  background-color: #be123c;
  transition: background-color 0.3s ease;
}

.banner-content button:hover {
  background-color: #8a102e;
}

.stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.stats h3 {
  font-size: 12px;
  margin: 0;
}

.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#toph2 {
  margin-bottom: auto; /* Pushes the h1 element to the top */
}

.top-section {
  max-width: 1400px;
  margin: 70px auto 0 auto;
}

.top-section h2 {
  font-weight: 700;
  margin-bottom: 44px;
}

.top {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex-direction: row;
}

article a h1 {
  font-weight: 700;
  font-size: 18px;
  margin: 12px 0;
}

article {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

article a {
  cursor: pointer;
}

article h3 {
  margin-top: 12px;
  font-size: 12px;
  color: #9ca3af;
}

article img {
  width: 250px;
  height: 370px;
}

button[data-action="remove"] {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 16px;
  border-radius: 6px;
  border: 2px solid #000000;
  color: #000000;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

button[data-action="remove"]:hover {
  background-color: #c9c9c9;
}

button[data-action="add"] {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 16px;
  border-radius: 6px;
  border: 2px solid black;
  color: white;
  background-color: #000000;
  transition: all 0.3s ease;
}

button[data-action="add"]:hover {
  background-color: #252525;
}
