@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  font-family: "DM Sans", sans-serif;
  color: black;
}
body {
  background-color: rgb(241, 241, 241);
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

a {
  all: unset;
}

ul,
ol,
li {
  list-style-type: none;
  list-style-position: inside;
}

button a:hover {
  color: white;
}

main {
  display: flex;
  flex-direction: row;
  gap: 16px;
  max-width: 1400px;
  margin: auto;
}

nav {
  padding-top: 15px;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-direction: row;
  max-width: 1400px;
  justify-content: space-between;
  margin: auto;
}

nav h1 {
  font-size: 24px;
}

nav a {
  cursor: pointer;
  transition: color 0.3s ease;
}

nav a:hover {
  color: gray;
}

.nav_left,
.nav_right {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  gap: 24px;
}

.nav_right {
  font-size: 16px;
  color: white;
  text-decoration: none;
}
.nav_left a h1 {
  font-weight: 500;
}

h1 {
  margin: 40px auto;
  font-size: 40px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  background-color: #d1d1d1;
}

button {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: #be123c;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #8a102e;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 40%;
  margin: auto;
}

#register_message,
#login_message {
  color: #be123c;
}
