@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  font-family: "DM Sans", sans-serif;
  color: black;
}
body {
  background-color: rgb(241, 241, 241);
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  all: unset;
}

ul,
ol,
li {
  list-style-type: none;
  list-style-position: inside;
}

button a:hover {
  color: white;
}

nav {
  padding: 27px 12px;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-direction: row;
  max-width: 1400px;
  justify-content: space-between;
  margin: auto;
}

nav h1 {
  font-size: 24px;
}

nav a {
  cursor: pointer;
  transition: color 0.3s ease;
}

nav a:hover {
  color: gray;
}

.nav_left,
.nav_right {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  gap: 24px;
}

.nav_right {
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.searchcontainer h1 {
  font-size: 40px;
}

.searchcontainer input {
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  background-color: #d1d1d1;
  width: 300px;
}

.searchcontainer button {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: #be123c;
  transition: background-color 0.3s ease;
}

.searchcontainer button:hover {
  background-color: #8a102e;
}

.custom-pagination .page-link {
  padding: 3px;
  border-radius: 6px;
  color: #be123c;
  background-color: #c9c9c9;
}

.custom-pagination .page-item.active .page-link {
  border-radius: 6px;
  background-color: #be123c;
  border: none;
}
.custom-pagination .page-link:hover {
  border-radius: 6px;
  color: white;
  background-color: #be123c;
}
.custom-pagination .page-link:focus {
  border-radius: 6px;
  outline: none;
  box-shadow: none;
}

.searchcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 120px auto;
  text-align: center;
}

article a h1 {
  font-weight: 700;
  font-size: 18px;
  margin: 12px 0;
}

article {
  margin: 0 auto 100px 10px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

article a {
  cursor: pointer;
}

article h3 {
  margin-top: 12px;
  font-size: 12px;
  color: #9ca3af;
}

article img {
  width: 250px;
  height: 370px;
}

main {
  margin: auto;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button[data-action="remove"] {
  cursor: pointer;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 16px;
  border-radius: 6px;
  border: 2px solid #000000;
  color: #000000;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

button[data-action="remove"]:hover {
  background-color: #c9c9c9;
}

button[data-action="add"] {
  cursor: pointer;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 16px;
  border-radius: 6px;
  border: 2px solid black;
  color: white;
  background-color: #000000;
  transition: all 0.3s ease;
}

button[data-action="add"]:hover {
  background-color: #252525;
}

footer {
  justify-content: center;
  display: flex;
}

ul {
  padding: 0;
  gap: 10px;
  justify-content: center;
  display: flex;
}

li button {
  cursor: pointer;
  font-weight: 700;
  width: 55px;
  height: 55px;
  border-radius: 999rem;
  border: 0;
  color: white;
  background: black;
}
@media (max-width: 768px) {
  main {
    padding: 12px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  button[data-action="remove"],
  button[data-action="add"] {
    font-size: 12px;
    padding: 8px 12px;
  }

  .articleimage {
    width: 144px;
    height: 205px;
  }

  nav {
    padding: 27px 12px;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center; /* Change align-items to flex-start */
    flex-direction: column; /* Change flex-direction to column */
    max-width: 1400px;
    justify-content: space-between;
  }

  .nav_left {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .main-article {
    margin-top: 30px;
    align-items: start;
    flex-direction: column;
    width: calc(100vw - 12px);
  }

  .main-article div {
    max-width: 95%;
  }

  #detailsTitle {
    font-size: 24px;
    margin-top: 15px;
  }

  .main-article p {
    font-size: 14px;
  }

  .release {
    font-size: 12px;
  }

  .rating {
    margin: 15px 0;
    padding: 0;
    gap: 10px;
    display: flex;
  }

  .rating p {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .searchcontainer {
    padding: 12px 0;
    align-items: center;
  }

  .searchcontainer input {
    width: calc(100vw - 120px);
  }

  .search-form {
    gap: 7px;
    margin: auto;
    display: flex;
  }
}
