* {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(0, 138, 148, 0);
  text-align: center;
  padding: 20px;
}
header h1 {
  font-size: 64px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: rgba(98, 98, 98, 0);
}

body {
  background-color: rgba(0, 0, 0, 0.911);
  background-image: url("Background-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  position: relative;
  width: 100%;
  height: 100vh;
}

main {
  margin: 128px;
  margin-top: 16px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 127, 147, 0);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 40px;
}

nav a {
  font-size: 24px;
  padding: 10px;
  text-decoration: none;
  text-decoration-color: rgb(255, 0, 0);
  color: white;
}

.searchcontainer {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  display: flex;
}

.search-input {
  padding: 10px;
  width: 600px;
}

.search-button {
  padding: 8px;
}

article {
  background-color: rgba(168, 226, 255, 0);
  border-radius: 16px;
  flex: 0 0 200px;
  margin: 20px;
  padding: 16px;
  text-align: center;
  block-size: 10%;
}

.topmovies,
.topseries {
  margin: 24px;
  justify-content: center;
  display: flex;
  background-color: rgba(0, 127, 147, 0);
  flex-wrap: wrap;
}

.topmovies article,
.topseries article {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 12px;
  flex: 0 0 200px;
  margin: 14px;
  padding: 10px;
}

.articleimage {
  border-radius: 8px;
  width: 150px;
  height: 200px;
}

.topmovies h2,
.topseries h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 12px;
}

.btn-outline-light {
  border-color: aliceblue;
  border-radius: 10px;
  text-decoration-color: aliceblue;
}

.movieContainer {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 13% auto; 
  grid-template-rows: auto auto; 
  grid-template-areas: 
      "header header"
      "image paragraph";
}

h2 {
  margin-bottom: 10px;
  grid-area: header;
}

img {
  grid-area: image;
}

.paraContainer {
  
  grid-area: paragraph;
  margin-left: 20px;
}

.paraContainer p {
  margin-bottom: 15px;
}

button {
  margin-left: 10px;
  margin-bottom: 1px;
}

main {
  padding: 10px;
}