* {
  margin: 0;
  padding: 0;
}

header {
  background-color: greenyellow;
  text-align: center;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: gray;
}

body {
  background-color: #99f988;
}

main {
margin: 128px;
margin-top: 16px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: greenyellow;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 40px;
}

nav a {
  font-size: 24px;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

.searchcontainer {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  display: flex;
}

.search-input {
  padding: 10px;
  width: 600px;
}

.search-button {
  padding: 8px;
}

article {
  background-color: rgb(199, 199, 199);
  border-radius: 16px;
  flex: 0 0 200px;
  margin: 20px;
  padding: 16px;
}

.topmovies,
.topseries {
  margin: 24px;
  justify-content: center;
  display: flex;
  background-color: greenyellow;
  flex-wrap: wrap;
}

.topmovies article,
.topseries article {
  background-color: rgb(199, 199, 199);
  border-radius: 16px;
  flex: 0 0 200px;
  margin: 20px;
  padding: 16px;
}

.articleimage {
  border-radius: 16px;
  width: 200px;
  height: 300px;
}

.topmovies h2,
.topseries h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
  background-color: black;
  color: white;
  padding: 10px;
}